
<% for (const plane of planes) { %>
    <tr>
        <td><%= plane.MakeModel %></td>
        <td><a href="https://server.fseconomy.net/aircraftlog.jsp?id=<%= plane.SerialNumber %>" target="_blank"><%= plane.Registration %></a></td>
        <td><a href="https://server.fseconomy.net/airport.jsp?icao=<%= plane.Location %>" target="_blank"><%= plane.Location %></a></td>
        <td><%= plane.Equipment %></td>
        <td class="<%= !plane.TimeLast100hr[0] ? 'N/A' : (!plane.TimeLast100hr[0].split(':')[0] ? 'N/A' : (plane.TimeLast100hr[0].split(':')[0] <= minTimeLast100hr ? 'green' : 'red')) %>"><%= plane.TimeLast100hr %></td>
        <td><%= plane.RentalDry != 0 ? plane.RentalDry : "-" %> / <%= plane.RentalWet != 0 ? plane.RentalWet : "-" %></td>
        <td><%= plane.RentalDry != 0 || plane.RentalDry != 0 ? Math.round(plane.RentalTime / 3600) : "-" %></td>
    </tr>
<% } %>
