

<% if (errs.length > 0) { %>
    <h2>WARNING:</h2>
    <p>Something went wrong! The list of airplanes below might be incomplete... Details:</p>
    <% for (const err of errs) {%>
        <pre><%= JSON.stringify(err) %></pre>
    <%} %>
<%}%>

<h2>Airplanes</h2>
<p>Found <%= planes.length %> <% if (onlyRentable) {%>rentable<%}%> airplanes of Make/Model [<%= planesMakeModel.join(", ") %>] inside a <%= maxDistance %> NM range around [<%= requestedIcaos.join(", ") %>]:</p>
<table id="results">
    <thead>
        <tr>
            <th>Make/Model</th>
            <th>Registration</th>
            <th>Equipment</th>
            <th>Time Since Last 100hr</th>
            <th>Rental (Dry / Wet)</th>
            <th>Rental Time (hours)</th>
            <th>Location</th>
            <th>Jobs</th>
        </tr>
    </thead>
    <tbody>
        <% for (const plane of planes) { %>
            <tr>
                <td><%= plane.MakeModel %></td>
                <td><a href="https://server.fseconomy.net/aircraftlog.jsp?id=<%= plane.SerialNumber %>" target="_blank"><%= plane.Registration %></a></td>
                <td><%= plane.Equipment %></td>
                <td class="<%= !plane.TimeLast100hr[0] ? 'N/A' : (!plane.TimeLast100hr[0].split(':')[0] ? 'N/A' : (plane.TimeLast100hr[0].split(':')[0] <= minTimeLast100hr ? 'green' : 'red')) %>"><%= plane.TimeLast100hr %></td>
                <td><%= plane.RentalDry != 0 ? plane.RentalDry : "-" %> / <%= plane.RentalWet != 0 ? plane.RentalWet : "-" %></td>
                <td><%= plane.RentalDry != 0 || plane.RentalDry != 0 ? Math.round(plane.RentalTime / 3600) : "-" %></td>
                <td><a href="https://server.fseconomy.net/airport.jsp?icao=<%= plane.Location %>" target="_blank"><%= plane.Location %></a></td>
                <td>...</td>
            </tr>
        <% } %>
    </tbody>
</table>

<h2>Airports</h2>
<p>Airplanes of Make/Model [<%= planesMakeModel.join(", ") %>] found at <%= airportsWithPlanes.length %> airports worldwide:</p>
<p><% for (const icao of airportsWithPlanes) {%> <a href="https://server.fseconomy.net/airport.jsp?icao=<%= icao %>" target="_blank"><%= icao %></a>, <%}%></p>
